---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ServicesSection from '../components/ServicesSection.astro';
import AccountTypesSection from '../components/AccountTypesSection.astro';
import FeaturesRadial from '../components/FeaturesRadial.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <Navbar />
	<main>
        <Hero />
        <ServicesSection />
        <!-- TODO: Add account types section -->
        <!-- <AccountTypesSection /> -->
        <!-- TODO: Add features radial section -->
        <!-- <FeaturesRadial /> -->
	</main>
    <Footer />
</Layout>
