---
import BaseHead from '../components/BaseHead.astro';

interface Props {
	title: string;
    description?: string;
}

const { title = "PumuPlay", description = "A Modern Future of SMEs." } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description!} />

		{/* Google Analytics - Only active in production */}
		{
			import.meta.env.PROD && (
				<>
					<script is:inline async src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID}`}></script>
					<script is:inline define:vars={{ googleAnalyticsId: import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID }}>
						window.dataLayer = window.dataLayer || [];
						function gtag(){dataLayer.push(arguments);}
						gtag('js', new Date());
						gtag('config', googleAnalyticsId);
					</script>
				</>
			)
		}
	</head>
	<body class="bg-[#f2f2f5] text-gray-900 selection:bg-primary selection:text-black">
		<slot />
	</body>
</html>
